.cache
.docker
.console-ninja
.fzf.bash
.fzf.zsh
.fzf
.local
.aws
.azure
.npm
.vscode-*
.vscode-server
.vscode-remote-containers
.ssh
.nvm
.config
.dotnet
.zsh_history
dev
.zcompdump
.zcompdump-*
.zcompdump.*
.viminfo
.wget-hsts
.lesshst
.bash_history
.oh-my-zsh
.node_repl_history
.deno/bin/deno
.autojump
.dbus
.python_history
autojump/
.rest-client
.pki
.fontconfig
.cargo
.babel.json
*.pm2
.expo
.bun
.quokka
.rustup
meili_data
.landscape
.dbclient
.npmrc
.supermaven
.continue
.nv
.ollama
.phpls
.lemminx
.gnupg
.pyenv
addok*
meili*
