[init]
	defaultBranch = main
[core]
	filemode = true
	autocrlf = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Yann Birba
	email = birbayann@gmail.com
	signingkey = /home/yann/.ssh/github
[core]
	editor = \"/mnt/c/Users/Yann/AppData/Local/Programs/Microsoft VS Code/bin/code\" --wait
	compression = 9
	whitespace = error
	preloadindex = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[advice]
	addEmptyPathspec = false
	pushNonFastForward = false
	statusHints = false
