.cache
.docker
.console-ninja
.fzf.bash
.fzf.zsh
.fzf
.local
.aws
.azure
.npm
.vscode-server
.ssh
.nvm
.config
.dotnet
.zsh_history
dev
.zcompdump
.zcompdump-PC-YANN-5.8.1
.zcompdump-PC-YANN-5.8.1.zwc
.viminfo
.wget-hsts
.lesshst
.bash_history
.oh-my-zsh
